@font-face {
	font-family: "wa-lbd";
	src: url("../fonts/project.eot?fylcef");
	src: url("../fonts/project.eot?fylcef#iefix") format("embedded-opentype"), url("../fonts/project.ttf?fylcef") format("truetype"), url("../fonts/project.woff2?fylcef") format("woff2"), url("../fonts/project.woff?fylcef") format("woff"), url("../fonts/project.svg?fylcef#wa-lbd") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}
